<script>
    
import { onMount } from 'svelte';



let contributors = [];

onMount(async () => {

    const response = await fetch(`https://knowt-back.onrender.com/api/contributors/`, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'}
    });

    contributors = await response.json()

})

</script>

<div class = "container">

    <h1> Welcome to Mars! </h1>

    <p> List of contributors </p>

    {#each contributors as contributor}

        <div class = "card-body">
            <h3 class = "card-title"> Contributor: {contributor.id} </h3>
            <p class = "card-text"> {contributor.username} </p>
            <p class = "card-text"> {contributor.email} </p>
        </div>

    {:else}

        <p class = "text-center"> Loading contributors ... </p>

    {/each}

</div>

<style>

</style>
